#messages {
    height: 300px;
    margin: 5px 0;
    padding: 0 5px;
    overflow: auto;
    border: 1px dotted #777;
    background-color: #fff;
    line-height: 150%;
}

#messages pre {
    width: 100%;
    color: #000;
}

#messages pre.sent {
    color: #f63;
}

.content {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 10px;
}